.navbar{
    background-color:#b31b1b;
    position: absolute;
    z-index:999;
}
.headerimg{
    margin-top:-100px;
}
.header-img{
    width:100%;  
    position: absolute;
    z-index:2;
}
.idea-main{
    position: absolute;
    z-index:2;
    margin-top:250px;
    height:100%;
    background-color:white;
}
.user-image{
    width:410px;
    height:auto;
}
.suggestionInput2, .suggestionInput3{
    width: 70%;
    /*display:none;*/
}
    .suggestionInput2, .suggestionInput{
        display:none;
    }
.submit-form{
    display:none;
}
.seachbox{
    padding-top:100px;
}
.hide{
    display: none !important;
}
.card{
    width:175px;
    height:275px;
    border: solid thin lightgrey;
    display:inline-block;
    border-radius:3px;
}
.card-img{
    border-top-right-radius:3px;
    border-top-left-radius:3px;
    width:175px;
    height:auto;
}
.card-title{
    text-align:center;
}
.card-description{
    height:55px;
    overflow-y:scroll;
}
.search-form{
    display:inline-block;
    width:175px;
    min-height:275px;
    margin-left:50px;
}