.navbar{
    
    position: absolute;
    z-index:999;
}
.headerimg{
    margin-top:-100px;
}
.header-img{
    width:100%;  
    position: absolute;
    z-index:2;
}
.idea-main{
    position: absolute;
    z-index:2;
    margin-top:250px;
    height:100%;
    background-color:white;
}